<h1>clicker</h1>
{{points |  number:'.1'}}<br/>
{{increaser}}<br/>
<button (click)="increase()">click</button><br/>
<button (click)="buy(2)" [disabled]="!(points > increaser * 20)">buy x 2 {{(increaser * 10) - points |  number:'.1'}}</button>
<button (click)="buy(8)" [disabled]="!(points > increaser * 80)">buy x 8 {{(increaser * 50) - points |  number:'.1'}}</button>
<button (click)="buy(20)" [disabled]="!(points > increaser * 100)">buy x 20 {{(increaser * 500) - points |  number:'.1'}}</button>